<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" contant="width-device-width", initial-scale="1.0">
    <title>ayush</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <main>
        <div style="background-color: #ADD8E6; text-align: center;">
         <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="card mt-2" style="text-align center bold; font-family: 'Dancing Script';" color="#FFD700">💫 With the blessings of Lord Ganesha 💫</h4>
                        <p style="text-align: center" color="#FFFFF7">Together with their families Mr. Dinesh M K & Mrs. Poornima cordially invite you to the wedding of their beloved son</p>
                        <img src="static/images/k5.jfif"  alt="im3" style="height: 200px;">
                        <font face="Brush Script MT" size="5" color="purple" style=" font-family: 'Dancing Script'">
                            <h2 style="text-align: center;">Ayush M D</h2>
                        </font>
                        <h3 style="font-family: 'Courier New'" color="#FFFFF7">Weds</h3>
                        <img src="static/images/k4.jpg" alt="im3" style="height: 200px;">
                        <font face="Brush Script MT" size="5" color="purple" style=" font-family: 'Dancing Script'">
                        <h2 style="text-align: center;">Meghana G</h2>
                        </font>
                        <p style="text-align: center;" color="#FFFFF7">daughter of Mr. Jaspal Singh Vohra & Mrs. Balwant Kaur Vohra</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="rsvp">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>We request the honor of your presence and blessings as they begin their new journey together.</p>
                        <h2 style="text-align: center;">Venue:</h2>
                        <p style="text-align: center;">Adderi, Matthur</p>
                        <p style="text-align: center;">Wedding ceremony will take place on

                            Saturday, the Twenty-First of September
                            
                            at Six o'clock in the evening</p>
                            <p>We look forward to celebrating this auspicious occasion with you.

                                Kindly RSVP by the Fifth of September</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>